body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #5151E5;
    margin-bottom: 20px;
}

.password-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

input {
    width: 100%;
    padding: 10px;
    border: 2px solid #5151E5;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #5151E5;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #41c56d;
}
